/* ------------------------------------------------------------------------------------------ */
/*                                 Design of the Checkerboard                                 */
/* ------------------------------------------------------------------------------------------ */

* {
    --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-family: --bs-font-sans-serif, sans-serif;
    color: #fff;
}

body {
    background-image: url("Images/background.jpg");
    background-size: cover;
}

header, nav, aside, footer {
    background: #00000088;
    border-radius: 1rem;
}

h1, h2, h3, h4, h5, h6, p, span, dt {
    padding: 1%;
    margin: 0;
}

h1 {
    font-size: 3rem;
    font-weight: 300;
}

h2 {
    margin-top: 25%;
    margin-bottom: 5%;
}

h3 {
    padding-top: 2.5%;
}

form {
    padding-top: 1%;
    padding-bottom: 2.5%;
}

input[type="text"] {
    color: #000;
}

input[type="submit"] {
    border: 1px solid #FF0000;
    border-radius: 0.5rem;
    user-select: none;
    background-color: #FF0000;
    color: #fff;
}

input[type="submit"]:hover {
    background-color: #FFFF00;
    color: #000;
    cursor: pointer;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
}

#gameContainer {
    border: 1vw solid #000;
}

.square:hover {
    cursor: pointer;
    opacity: .8;
}

ul, dl, dt, dd {
    padding: 0;
    margin: 0;
    list-style: none;
}

dl {
    display: flow-root;
    width: 100%;
    padding: 0 5%;
    clear: both;
}

dt, dd {
    float: left;
}

.place, .score{
    width: calc(100% / 6);
}

.user {
    width: calc(100% / 3 * 2);
}

.btn {
    width: 40%;
    padding: 2%;
    border: 1px solid #FF0000;
    border-radius: 0.5rem;
    margin-top: 25%;
    user-select: none;
    background-color: #FF0000;
    color: #fff;
}

.btn:hover {
    background-color: #FFFF00;
    color: #000;
    cursor: pointer;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
}