<!doctype html>
<html ng-app="ngCheckers">
<head>
<meta charset="UTF-8">
<title>Checkers</title>
<link rel="stylesheet" type="text/css" href="ngCheckers.css">
</head>
<body ng-controller="checkersCtrl">
    <div class="jumbotron text-center"><h1>Angular Checkers</h1></div>
<div id="gameContainer" class="container"> 
  <!-- ng-repeat is a looping structure -->
  <div class="row" ng-repeat="row in board"> 
    <!-- setClass(square) will be the function that changes any of the squares, i.e: adding/removing a chip on the square --> 
    <!-- select(square) will be the prompt when the user clicks a square and activates setClass(square) -->
    <div class="square" ng-style="setClass(square)" ng-repeat="square in row track by $index" ng-click="select(square)">
      <div ng-style="setStyling(square)" class="circle"> </div>
    </div>
  </div>
</div>
    <br>
<div class="container text-center alert">
  <div>
    <h2>Player : {{player}}</h2>
  </div>
  <div>Red Score : {{redScore}}</div>
  <div>Black Score : {{blackScore}}</div>
	<br>
	<button id="startGame" type="button" ng-click="newGame()" class="btn">Reset Game</button>
</div>
<script src="angular.min.js"></script> 
<script src="ngCheckers.js"></script>
    <footer>  <div class="text-center p-2">
    <h3>© 2021 Copyright: FA 21 IST 256 - TEAM B</h3>
	<h3>David - Rouven - Luke - Tony - Michelle - Paulina - Jaydevsinh - Sebastian</h3>
  </div></footer>
</body>
</html>