/* ------------------------------------------------------------------------------------------ */
/*                                 Design of the Checkerboard                                 */
/* ------------------------------------------------------------------------------------------ */
#gameContainer {
    background-color: black;
    width: 480px;
    height: 480px;
    padding: 20px;
}

/* Use all 480pxs of the row */
.row {
    width: 100%
}

/* When squares are generated, they are floating to their left */
.square {
    float: left;
    width: 60px;
    height: 60px;
}

.circle {
    border-radius: 50%;
    width: 94%;
    height: 94%;
    margin: 3%;
    color: black;
    text-align: center;
    line-height: 56px;
}

/* When the mouse is hovering the square, it changes */
.square:hover {
    cursor: pointer;
    opacity: .8;
}

#startGame {
    width: 120px;
    padding: 10px;
    margin-top: 10px;
    text-align: center;
    background-color: black;
    color: white;
}

#startGame:hover {
    color: red;
    cursor: pointer;
}

.container{
  width: 95%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.text-center {
  text-align: center !important;
}

.jumbotron {
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  background-color: #e9ecef;
  border-radius: 0.3rem;
}